<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="repositoryPath" value="packages" />
    </config>
    <packageRestore>
        <add key="enabled" value="true" />
    </packageRestore>
    <packageSources>
        <clear />
        <add key="GameAssetConditioningLibrary-Org" value="https://pkgs.dev.azure.com/cga-exchange/_packaging/GameAssetConditioningLibrary-Org/nuget/v3/index.json" />
    </packageSources>
</configuration>